<% content_for :title do %>
    Feature toggles for <strong><%= params[:env] %></strong>
<% end %>

<ul id="toggles">
    <% @toggles.each do |toggle| %>
        <li id="<%= toggle.feature.name %>" class="<%= toggle.value ? "on" : "off" %>">
            <%= link_to toggle.feature.name, "/features/#{toggle.feature.name}/edit" %>
            <% if user_signed_in? %>
                <%= button_to "Toggle",
                              {controller: "toggles", action: "toggle", feature: toggle.feature.name},
                              {class: "button toggle" }
                %>
            <% end %>
            <div class="toggle-value"><%= toggle.value ? "ON" : "OFF" %></div>
        </li>
    <% end %>
</ul>